<h1>Consulter les comparaisons</h1>

<p>Liste des comparaisons existantes.</p>

<p *ngIf="!comparisons"><em>Chargement...</em></p>

<table *ngIf="comparisons">
  <thead>
    <tr>
      <th>Citation</th>
      <th>Auteur</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let comparison of comparisons">
      <td>{{ comparison.content }}</td>
      <td>{{ comparison.author }}</td>
      <td>{{ comparison.date | date : "dd MMMM yyyy à  HH:mm" : "fr-fr" }}</td>
    </tr>
  </tbody>
</table>
