<h1>Créer une nouvelle comparaison</h1>

<form (ngSubmit)="onSubmit(compForm)" class="comparison-form" #compForm="ngForm">

  <label>Comparaison</label>
  <div class="comparison-form-block">
    <input id="lhs" [(ngModel)]="comparison.leftHandSide" name="lhs" type="text" class="comparison-short-label" readonly>
    <button id="lhsRefresh" class="refresh-button" type="button" (click)="onLhsRefresh()"></button>
    c'est comme
    <input id="rhs" [(ngModel)]="comparison.rightHandSide" name="rhs" type="text" class="comparison-short-input" readonly>
    <button id="rhsRefresh" class="refresh-button" type="button" (click)="onRhsRefresh()"></button> :
    <br />
    <textarea [(ngModel)]="comparison.body" name="body" #body="ngModel" class="comparison-large-input" required minlength="4"></textarea>

    <div [hidden]="body.valid || body.pristine" class="alert">Le corps doit être renseigné</div>
  </div>

  <label for="author">Auteur</label>
  <div class="comparison-form-block">
    <input id="author" type="text" [(ngModel)]="comparison.author" name="author" #author="ngModel" class="comparison-short-input" required minlength="4" maxlength="30">

    <div [hidden]="author.valid || author.pristine" class="alert">L'auteur doit être renseigné</div>
  </div>

  <div class="comparison-form-block">
    <button class="btn-primary" type="submit" [disabled]="!compForm.valid">Ajouter</button>
    <button class="btn-primary" type="button" (click)="onResetClicked()">Réinitialiser</button>
  </div>
</form>
